<body class="bg-success p-2 text-dark bg-opacity-10">
<div class="container">
    <h1 text-align="center">Narayana Health City, Bangalore</h1>
    <p>
        Dear Patient / Relative / Visitor,<br><br>
        Your continuing suggestions and support help to make our Hospital a better organization. Kindly spare a 
        few moments to complete the following, so that we can strive to fulfill your expectations. Please submit 
        the feedback form.
    </p>
    <h3 text-align="center">Feedback Form</h3>
       
    <form>    
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label for="hosp_environment">The Hospital Environment is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_hosp_environment">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_hosp_environment">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_hosp_environment"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="ward_facility">The Ward Facilities are : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_ward_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_ward_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_ward_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="toilet_facility">The Toilet(s) are : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_toilet_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_toilet_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_toilet_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="food_diet_facility">The Food/Diet is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_food_diet_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_food_diet_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_food_diet_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="attending_doctors_facility">The service of attending Doctors is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_attending_doctors_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_attending_doctors_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_attending_doctors_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="attendant_nurses_facility">The service of attendant Nurses is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_attendant_nurses_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_attendant_nurses_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_attendant_nurses_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="hospital_billing_facility">The Hospital Billing is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_hospital_billing_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_hospital_billing_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_hospital_billing_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="reception_enquiry_facility">The Reception / Enquiry service is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_reception_enquiry_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_reception_enquiry_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_reception_enquiry_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="admission_process_facility">The Admission Process is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_admission_process_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_admission_process_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_admission_process_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="discharge_process_facility">The Discharge Process is : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_discharge_process_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_discharge_process_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_discharge_process_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="overall_rating_facility">Overall I Rate Narayana Health City as : </label>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input id="good" type="radio" value="good" name="radio_overall_rating_facility">
                        <label for="good">Good</label>&nbsp;&nbsp;&nbsp;

                        <input id="average" type="radio" value="average" name="radio_overall_rating_facility">
                        <label for="average">Average</label>&nbsp;&nbsp;&nbsp;

                        <input id="poor" type="radio" value="poor" name="radio_overall_rating_facility"> 
                        <label for="poor">Poor</label>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-success" (click)="send()">Submit</button>
        </div>
    </form>
</div>
</body>
