<div class="container-fluid">
    <mat-card class="box">
        <div class="forgotPassword">
            <h2>Forgot Password:</h2>
            <form action="">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <mat-form-field class="example-full-width">
                        <input type="email" id="email" matInput placeholder="Enter email" name="email">
                    </mat-form-field>
                </div>
                <button mat-stroked-button color="accent" class="btn-btn-primary" type="submit">Send</button><br>
                <a href="/login">Login?</a>
            </form>
        </div>
    </mat-card>
</div>