body {
    background-color:#bdbebe;
    border-top: 8px double black;
    border-bottom: 8px double black;
    border-left: 8px double black;
    border-right: 8px double black;
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
 
  }
.button
{
border-radius: 3rem;
margin: 2rem;

}
